a {
  text-decoration: none;
}

.nav03_left {
  width: 50%;
}

.nav03_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav03_logo_image {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  margin-right: 25px;
}

.nav03 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
  box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.08);
}

.nav03_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-icon {
  max-width: 88%;
  margin-right: 13px;
  padding-right: 0px;
}

.nav03_link {
  padding: 0px 15px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #7c8094;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav03_links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
}

.nav03_container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header {
  padding-top: 109px;
  padding-bottom: 109px;
  background-color: #f8f8fa;
  font-weight: 900;
}

.page-header.bezoheader {
  display: block;
  margin: 0px auto 38px;
  padding: 94px 160px 73px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f8f8fa;
  background-image: none;
}

.page-header.bezoheader.bezo-section-feeature {
  padding-top: 104px;
  padding-bottom: 35px;
}

.page-header.display-2-centered {
  padding-top: 121px;
  padding-bottom: 121px;
  text-align: center;
}

.heading-3 {
  margin-top: -4px;
  padding-right: 58px;
  padding-left: 0px;
  font-family: Bwdarius, sans-serif;
  color: #fff;
  font-size: 42px;
  line-height: 47px;
  font-weight: 700;
  text-align: left;
}

.heading-3.subheading {
  font-family: Bwdarius, sans-serif;
  color: #7c8094;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-align: left;
}

.heading-3.subheading.subheading-light {
  color: #fff;
}

.heading-3.subheading.subheading-light.subhead-center {
  color: #111747;
  text-align: center;
}

.heading-3.subheading.subheading-light.dark-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #7c8094;
}

.heading-3.subheading.subheading-light.dark-text.in-card {
  padding-right: 95px;
}

.heading-3.subheading.subheading-light.dark-text.brand {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading-3.subheading.subheading-light.big-g {
  font-size: 33px;
}

.heading-3.display-1 {
  padding-right: 20px;
  color: #111747;
  line-height: 54px;
  font-weight: 700;
}

.heading-3.display-1.display-2-centered {
  margin-bottom: 33px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
}

.paragraph {
  margin-bottom: 27px;
  padding-right: 173px;
  padding-left: 173px;
  font-family: 'Avenirltstd roman', sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
}

.paragraph.header-yellow-text {
  padding-top: 33px;
  color: #ffaf17;
  font-size: 45px;
  font-weight: 900;
}

.paragraph.bezopara {
  padding-right: 99px;
  padding-left: 99px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}

.paragraph.bezopara.bezopara-left {
  padding-right: 20px;
  padding-left: 0px;
  font-family: 'Avenirltstd roman', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.paragraph.bezopara.bezopara-left.dark-text {
  padding-right: 64px;
  color: #7c8094;
}

.paragraph.bezopara.bezopara-left.dark-text.in-card {
  padding-right: 43px;
}

.paragraph.bezopara.bezopara-left.extra-padding {
  padding-right: 60px;
}

.paragraph.bezopara.bezopara-left.more-spinch {
  margin-bottom: 5px;
  font-family: Avenirltstd, sans-serif;
  color: #111747;
  font-weight: 500;
}

.paragraph.bezopara.bezopara-left.more-spinch.centered {
  margin-bottom: 16px;
  text-align: center;
}

.paragraph.bezopara.bezopara-left.text-center {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: #fff;
  text-align: center;
}

.paragraph.bezopara.bezopara-left.text-center.small {
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'Avenirltstd book', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.paragraph.bezopara.bezopara-left.text-center.small.ct-sec-right {
  color: #111747;
}

.paragraph.bezopara.bezopara-left.text-center.small.ct-sec-right.partner-text {
  color: #111747;
}

.paragraph.bezopara.bezopara-left.text-center.ct-sec-right {
  color: #111747;
}

.paragraph.bezopara.bezopara-left.text-center.ct-sec-right.partner-text {
  color: #111747;
}

.paragraph.bezopara.bezopara-left.blog-promo {
  text-align: center;
}

.body {
  background-color: #fff;
}

.spacing-20 {
  height: 20px;
}

.spacing-20.block-20 {
  height: 20px;
}

.text-block {
  border: 0px none #fff;
  background-color: transparent;
  color: #ecf2ff;
}

.success-message {
  border-style: solid;
  border-width: 1px;
  border-color: #ecf2ff;
  border-radius: 5px;
  background-color: #235fd9;
}

.form {
  position: relative;
  padding-top: 3px;
  box-shadow: 1px 11px 30px -20px #c4c4c4;
}

.image {
  position: absolute;
  left: -17%;
  top: -246px;
  right: 0px;
  bottom: 0%;
  max-width: 200%;
}

.text-block-2 {
  border-style: none;
  border-width: 0px;
  border-color: #ecf2ff;
  background-color: transparent;
  color: #ecf2ff;
}

.text-span {
  border-style: none;
  border-width: 1px;
  border-color: #235fd9;
  color: #235fd9;
}

.hub-para {
  margin-top: 23px;
  padding-right: 84px;
  color: #666;
  line-height: 23px;
}

.columns-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hub-button {
  padding: 15px 29px;
  border-radius: 5px;
  background-color: #235fd9;
}

.hub-button.form-button {
  position: absolute;
  margin-top: -68px;
  margin-left: 405px;
  padding-right: 29px;
  padding-left: 29px;
}

.hub-button.form-button.mobile {
  margin-left: 447px;
  padding-right: 44px;
  padding-left: 44px;
  background-color: #111747;
  font-family: Avenirltstd, sans-serif;
  font-weight: 400;
}

.subheading {
  color: #2b384f;
  font-size: 16px;
  font-weight: 500;
}

.form-input {
  display: block;
  overflow: auto;
  height: 65px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 27px;
  border-style: none;
  border-color: #000;
  border-radius: 5px;
  background-color: #fff;
  font-family: 'Avenirltstd book', sans-serif;
  color: #7c8094;
}

.form-input:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #7c8094;
}

.heading {
  padding-right: 66px;
}

.error-message {
  border-radius: 5px;
}

.bezopara-left {
  padding-left: 50px;
  font-family: Avenirltstd, sans-serif;
  text-align: left;
}

.bezopara-left.column-4.cleft {
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.bezo-black-section {
  padding-top: 102px;
  padding-bottom: 102px;
  background-color: #7c8094;
}

.bezo-black-section.bezo-light-section {
  padding-top: 0px;
  background-color: transparent;
}

.bezo-black-section.bezo-light-section.prduct {
  padding-top: 99px;
  background-color: #fff;
}

.little-text-left {
  padding-bottom: 9px;
  color: #fff;
}

.little-text-left.little-text-center {
  font-family: Avenirltstd, sans-serif;
  color: #7c8094;
  font-weight: 400;
  text-align: center;
}

.little-text-left.dark-text {
  color: #7c8094;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.big-white-circle {
  display: block;
  text-align: right;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.paragraph-2 {
  padding-right: 173px;
  padding-left: 173px;
  font-family: Avenirltstd, sans-serif;
  color: #f5f7fd;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.paragraph-2.featire-section {
  padding-right: 50px;
  padding-left: 0px;
  color: #333;
  text-align: left;
}

.paragraph-2.featire-section.dark-bg {
  padding-right: 20px;
  color: #f5f7fd;
  font-weight: 500;
}

.paragraph-2.featire-section.dark-bg.lt {
  color: #333;
}

.paragraph-2.featire-section.dark-bg.bezomap {
  margin-bottom: 21px;
  color: #7c8094;
  line-height: 25px;
  font-weight: 500;
}

.feature-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-2 {
  padding-top: 109px;
  padding-bottom: 109px;
  background-image: url('../images/HEADER-IMAGE.jpg');
  background-position: 50% 50%;
  background-size: cover;
  font-family: Avenirltstd, sans-serif;
  font-weight: 900;
}

.section-2.savetogether {
  background-color: #2039a8;
  background-image: none;
}

.section-2.savetogether.sublayer {
  position: relative;
  margin-bottom: 1150px;
  padding-top: 72px;
  padding-bottom: 242px;
  background-color: #7c8094;
}

.section-2.savetogether.white-bg-faq {
  padding-top: 55px;
  padding-bottom: 51px;
  background-color: #f5f7fd;
}

.section-2.savetogether.white-bg-faq.susu {
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: transparent;
}

.container {
  position: absolute;
  left: 0%;
  top: 62%;
  right: 0%;
  bottom: auto;
  margin-top: -38px;
}

.column-5 {
  position: relative;
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

.column-5.fancy {
  display: block;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 66px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 5px;
  background-color: #fff;
}

.column-5.fancy.offset {
  margin-top: 78px;
}

.image-42 {
  clear: both;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.subheading-2 {
  color: #22cfbf;
  text-align: center;
}

.subheading-2.left {
  margin-bottom: -13px;
  text-align: left;
}

.heading-4 {
  margin-top: 6px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #f5f7fd;
  font-size: 28px;
}

.heading-4.white-bg {
  margin-top: 11px;
  color: #00073e;
  line-height: 38px;
}

.heading-4.white-bg.left {
  margin-top: 26px;
  line-height: 38px;
}

.heading-4.white {
  color: #f5f7fd;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.column-7 {
  position: static;
}

.column-8 {
  position: static;
  margin-top: 80px;
}

.button {
  padding: 15px 44px;
  border-radius: 5px;
  background-color: #7c8094;
  font-family: Avenirltstd, sans-serif;
}

.faq02-comment {
  overflow: auto;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-right: 25px;
  border: 0px solid #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
}

.faq02-comment.bezo-faq {
  overflow: auto;
  height: 100%;
}

.faq02_h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #7c8094;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.faq02_h6.noselect {
  background-color: #fff;
  font-family: Avenirltstd, sans-serif;
  color: #7c8094;
  font-size: 17px;
  font-weight: 400;
}

.div-block-125 {
  background-color: #f5f7fd;
}

.div-block-125.bezo-faq {
  overflow: auto;
  margin-bottom: 15px;
  border-radius: 5px;
}

.faq02_paragraph {
  overflow: auto;
  margin-top: 14px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-family: 'Avenirltstd roman', sans-serif;
  color: #7c8094;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}

.faq02_block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 70px;
  min-width: 400px;
  padding: 25px 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0px none #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f5f7fd;
  opacity: 1;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.faq02_block.faq-bezo {
  min-height: 0px;
  padding-bottom: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.faq02_icon {
  position: absolute;
  left: auto;
  top: auto;
  right: 5%;
  bottom: auto;
  width: 15px;
  height: 15px;
  padding-bottom: 3px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #2039a8;
}

.column-9 {
  padding-left: 55px;
}

.bezobutton {
  margin-top: 7px;
  padding: 10px 36px;
  border-radius: 5px;
  background-color: #2039a8;
  font-family: 'Avenirltstd book', sans-serif;
  color: #f5f7fd;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.bezobutton:hover {
  background-color: #00073e;
}

.container-2 {
  position: absolute;
  left: 0%;
  top: 98px;
  right: 0%;
  bottom: 0%;
  font-family: Avenirltstd, sans-serif;
}

.map {
  height: 540px;
  min-height: 532px;
}

.section-3 {
  position: relative;
  padding-top: 265px;
  padding-bottom: 247px;
  background-color: #7c8094;
}

.offset-white {
  padding-top: 38px;
  padding-bottom: 38px;
  padding-left: 46px;
  border-radius: 5px;
  background-color: #fff;
}

.f07_link {
  color: #0a1f44;
  text-decoration: none;
}

.image-45 {
  padding-top: 0px;
  padding-right: 10px;
}

.column-11 {
  text-align: right;
}

.f07_wrap_right {
  padding-right: 20px;
  font-family: Avenirltstd, sans-serif;
  color: #7c8094;
}

.f07_container {
  display: block;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.f07 {
  padding: 10px 5%;
  background-color: #fff;
}

.f07.copyrighted {
  background-color: transparent;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs {
  text-align: center;
}

.my-tab {
  display: inline-block;
  overflow: hidden;
  margin-top: -12px;
  margin-bottom: -1px;
  padding-top: 13px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #111747;
  color: #f8f8fa;
}

.my-tab:active {
  color: #111747;
}

.my-tab.w--current {
  padding: 15px 34px;
  border-radius: 5px;
  background-color: #f8f8fa;
  font-family: Avenirltstd, sans-serif;
  color: #111747;
}

.my-tab.w--current:visited {
  color: #f8f8fa;
}

.text-block-3 {
  color: #111747;
}

.text-block-3:active {
  color: #111747;
}

.active:active {
  color: #111747;
}

.section-4 {
  padding-bottom: 124px;
}

.columns-4 {
  margin-top: 9px;
}

.property-card {
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: box-shadow 425ms ease;
  transition: box-shadow 425ms ease;
}

.property-card:hover {
  box-shadow: 2px 20px 20px -14px rgba(0, 0, 0, 0.09);
}

.property-image {
  padding: 20px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url('../images/4.png');
  background-position: 0px 0px;
  background-size: cover;
}

.property-image.custom-bg {
  background-image: url('../images/3.png');
}

.property-image.custom-bg._2 {
  background-image: url('../images/1.png');
}

.property-image.custom-bg._3 {
  background-image: url('../images/adaad.png');
}

.property-image.custom-bg._5 {
  background-image: url('../images/df.png');
}

.property-image.custom-4 {
  background-image: url('../images/adjagjad.png');
}

.property-details {
  padding-right: 15px;
  padding-left: 15px;
}

.text-block-4 {
  font-family: 'Avenirltstd roman', sans-serif;
  color: #7c8094;
  font-size: 12px;
}

.feature-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 9px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.feature-label.pill-red {
  padding: 3px 10px 2px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(207, 24, 24, 0.84);
  color: #fff;
}

.feature-label.pill-red.pill-blue {
  padding-right: 23px;
  padding-left: 23px;
  background-color: rgba(17, 23, 71, 0.81);
}

.feature-label.pill-red.price-pill {
  padding-right: 21px;
  padding-left: 21px;
  background-color: #06818e;
  font-family: Avenirltstd, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.feature-label.pill-red.pill-rent {
  background-color: rgba(207, 97, 24, 0.84);
}

.property-meta-datat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.property-meta-datat.comapny-and-date {
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.property-meta-datat.comapny-and-date.last-child {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.property-title {
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: Avenirltstd, sans-serif;
  color: #111747;
  font-size: 16px;
  font-weight: 500;
}

.calendar {
  padding-right: 10px;
}

.image-47 {
  padding-right: 10px;
}

.property-size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 19px;
}

.property-size.property-company {
  padding-right: 5px;
}

.bathroom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 4px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.divider {
  border-bottom: 1px solid rgba(124, 128, 148, 0.23);
}

.property-image-inner {
  display: block;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.p-image-inner-info-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.featured-label {
  padding-left: 12px;
}

.card-image-left-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-127 {
  min-height: 100px;
}

.property-container {
  max-width: 75%;
  min-width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.d-nav {
  background-color: #fff;
}

.d-nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
  display: none;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 7px -6px rgba(124, 128, 148, 0.62);
}

.nav-bar-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  min-width: 1020px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.d-nav-link {
  margin-right: 30px;
  font-family: Avenirltstd, sans-serif;
  color: #333;
  line-height: 16px;
  text-decoration: none;
}

.d-nav-link.text-center {
  margin-right: 0px;
  padding-right: 16px;
  padding-left: 16px;
}

.navigation-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.left-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-2 {
  padding-right: 50px;
  padding-left: 50px;
}

.d-button-outline {
  padding: 8px 34px;
  border-style: solid;
  border-width: 1px;
  border-color: #7c8094;
  border-radius: 5px;
  background-color: #fff;
  font-family: Avenirltstd, sans-serif;
  color: #333;
}

.header-left {
  padding-right: 0px;
}

.header-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.trust-shield {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.shield-logo {
  padding-right: 19px;
}

.d-main-buttom {
  padding: 12px 81px;
  border-radius: 5px;
  background-color: #cf0100;
  font-family: Avenirltstd, sans-serif;
  font-weight: 400;
}

.d-main-buttom:hover {
  background-color: #06818e;
}

.d-main-buttom.green {
  background-color: #06818e;
}

.d-main-buttom.green.center-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 105px;
  padding-left: 105px;
  background-color: #ffc641;
  color: #111747;
  text-align: center;
}

.d-main-buttom.green.center-button.ct-sec-right {
  width: 350px;
  background-color: #06818e;
  color: #fff;
}

.d-main-buttom.green.center-button.ct-sec-right.partner-button {
  background-color: #cf0100;
}

.d-main-buttom.green.center-button.bbc {
  display: inline-block;
}

.d-main-buttom.blog-promo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  color: #06818e;
  font-weight: 900;
  text-align: center;
}

.d-main-buttom.newsletter-button {
  padding-right: 31px;
  padding-left: 31px;
  text-align: center;
}

.d-main-buttom.facebook-button {
  width: 350px;
  margin: 20px auto 35px;
  background-color: #395ba9;
  text-align: center;
}

.d-main-buttom.verify-default {
  background-color: #111747;
}

.partners {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.partner-images {
  padding-right: 35px;
}

.other {
  display: none;
  overflow: hidden;
  opacity: 1;
}

.column-12 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: right;
}

.d-section {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 58px 0px;
}

.d-section.alt {
  padding-top: 0px;
}

.d-section.d-contain {
  margin-top: -3px;
  margin-bottom: 12px;
  padding-bottom: 11px;
}

.image-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ft-col {
  padding-right: 40px;
}

.display-2 {
  margin-top: 5px;
  font-family: Bwdarius, sans-serif;
  color: #111747;
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
}

.display-2.blog-promo {
  text-align: center;
}

.feature-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-5 {
  font-family: Avenirltstd, sans-serif;
  color: #111747;
  font-size: 16px;
  font-weight: 500;
}

.spacing-10 {
  height: 10px;
}

.item-desc {
  font-family: 'Avenirltstd book', sans-serif;
  color: #333;
}

.item-desc.copyright {
  color: #7c8094;
}

.image-48 {
  width: 569px;
  max-width: 150%;
}

.image-48.main-image {
  max-width: 100%;
}

.div-block-128 {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(124, 128, 148, 0.31);
  text-align: center;
}

.image-49 {
  text-align: right;
}

.features-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.extra-padding {
  padding-right: 40px;
}

.cta-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 63px;
  padding-bottom: 63px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.cta-section.ct-sec-left {
  background-color: transparent;
}

.text-center {
  padding-right: 186px;
  padding-left: 186px;
}

.text-center.blog-promo {
  padding: 75px 221px 57px;
}

.copyrights {
  margin-bottom: 16px;
  padding-top: 25px;
  font-family: 'Avenirltstd book', sans-serif;
  font-size: 12px;
}

.ct-left {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #06818e;
}

.ct-left.p20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ct-right {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #111747;
}

.ct-right.p20 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffc641;
}

.cta-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.pre-footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f8f8fa;
}

.pre-footer-items {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-menu-group {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.footer-nav-head {
  font-family: Bwdarius, sans-serif;
  color: #111747;
  font-size: 18px;
  font-weight: 700;
}

.dconatin {
  margin-top: 56px;
  padding-top: 0px;
}

._100vh {
  display: block;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  padding: 62px 98px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Avenirltstd roman', sans-serif;
  font-weight: 400;
}

.content {
  margin-top: 60px;
  text-align: center;
}

.close {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 0px;
  border-radius: 500px;
  box-shadow: 0 11px 50px -4px rgba(147, 155, 180, 0.34);
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link-block {
  padding: 20px;
}

.x-button {
  padding: 10px;
}

.auth-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  padding: 18px 28px 15px 46px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f8f8fa;
}

.auth-form.login {
  display: block;
  width: auto;
}

.small {
  font-family: 'Avenirltstd book', sans-serif;
  color: #7c8094;
  text-align: center;
}

.small.left {
  margin-bottom: 22px;
  padding-bottom: 0px;
  color: #cf0100;
  text-align: left;
  text-decoration: none;
}

.small.left.link-block {
  padding-top: 5px;
  padding-left: 0px;
}

.small.terms {
  padding-top: 76px;
  font-family: Avenirltstd, sans-serif;
  color: #06818e;
  text-decoration: none;
}

.form-group {
  margin-top: 34px;
}

.text-field {
  width: 350px;
  height: 0px;
  padding-top: 23px;
  padding-bottom: 23px;
  border-style: solid;
  border-width: 1px;
  border-color: #ececf4;
  border-radius: 5px;
  background-color: #f8f8fa;
  font-family: 'Avenirltstd roman', sans-serif;
  color: #333;
}

.text-field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #111747;
  font-family: Avenirltstd, sans-serif;
  text-transform: capitalize;
}

.submit-button {
  width: 350px;
  padding: 12px 51px;
  border-radius: 5px;
  background-color: #cf0100;
}

.link-blog {
  display: block;
  text-decoration: none;
}

.div-block-129 {
  height: 40px;
  padding-top: 50px;
}

.some-link {
  font-family: Avenirltstd, sans-serif;
  color: #cf0100;
  font-weight: 500;
}

.text-block-6 {
  font-family: Avenirltstd, sans-serif;
}

.text-block-7 {
  font-family: Avenirltstd, sans-serif;
}

.bold-text {
  color: #06818e;
  font-weight: 400;
  text-decoration: none;
}

.link {
  font-family: Avenirltstd, sans-serif;
  color: #06818e;
}

.bold-text-2 {
  font-weight: 500;
}

.image-50 {
  max-width: 200%;
}

.columns-5 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.column-20 {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
}

.link-block-2 {
  display: block;
}

.link-block-3 {
  display: block;
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.column-21 {
  padding-left: 0px;
}

.text-block-8 {
  font-weight: 400;
}

.div-block-130 {
  height: 20px;
}

.account-type {
  text-align: left;
}

@media (max-width: 991px) {
  .nav03_icon {
    color: #4e5d78;
  }
  .nav03_menu_button.w--open {
    border-radius: 100px;
    background-color: #ebecf0;
  }
  .nav03_link {
    width: 100%;
    min-height: 45px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .nav03_links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.08);
  }
  .page-header {
    padding-bottom: 25px;
  }
  .heading-3 {
    font-size: 38px;
  }
  .heading-3.subheading.subheading-light.dark-text.in-card {
    padding-right: 0px;
  }
  .paragraph.bezopara.bezopara-left.dark-text.in-card {
    padding-right: 0px;
  }
  .paragraph.verify {
    padding-right: 87px;
    padding-left: 87px;
  }
  .image {
    left: 17%;
  }
  .hub-button.form-button.mobile {
    margin-left: 276px;
  }
  .bezo-black-section.bezo-light-section.prduct {
    position: relative;
    margin-top: 7px;
  }
  .feature-section {
    display: block;
    padding: 10px 42px;
  }
  .section-2.savetogether {
    padding-top: 58px;
    padding-bottom: 58px;
  }
  .section-2.savetogether.sublayer {
    margin-bottom: 1279px;
  }
  .section-2.savetogether.white-bg-faq.susu {
    padding-top: 80px;
    padding-bottom: 79px;
  }
  .faq02_block.faq-bezo {
    min-width: 0px;
  }
  .property-container {
    max-width: 90%;
  }
  .d-nav-link {
    margin-right: 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .d-nav-link.text-center {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 0px;
  }
  .main-header-col {
    display: block;
  }
  .d-main-buttom.green.center-button {
    display: block;
    width: 250px;
    padding-right: 45px;
    padding-left: 45px;
  }
  .d-main-buttom.newsletter-button {
    padding-right: 17px;
    padding-left: 17px;
  }
  .desktop {
    display: block;
  }
  .other {
    display: block;
  }
  .other-screens {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 52px 56px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .d-section {
    padding-bottom: 35px;
  }
  .display-2 {
    margin-left: 0px;
  }
  .display-2.mobii {
    margin-right: 50px;
    font-size: 16px;
  }
  .image-48 {
    max-width: 100%;
  }
  .div-block-128 {
    text-align: left;
  }
  .text-center {
    padding-right: 28px;
    padding-left: 28px;
  }
  .text-center.blog-promo {
    padding-right: 135px;
    padding-left: 135px;
  }
}

@media (max-width: 767px) {
  .heading-3 {
    padding-right: 44px;
    padding-left: 44px;
    font-size: 32px;
    line-height: 33px;
    font-weight: 700;
  }
  .heading-3.subheading.subheading-light {
    padding-left: 0px;
  }
  .heading-3.display-1 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 52px;
    padding-left: 0px;
    line-height: 42px;
    text-align: left;
  }
  .paragraph {
    padding-right: 52px;
    padding-left: 52px;
  }
  .paragraph.header-yellow-text {
    padding-top: 22px;
  }
  .paragraph.bezopara.bezopara-left {
    padding-right: 0px;
    text-align: center;
  }
  .paragraph.bezopara.bezopara-left.extra-padding {
    margin-right: auto;
    margin-left: auto;
    padding-right: 83px;
    padding-left: 0px;
    text-align: left;
  }
  .paragraph.verify {
    padding-right: 2px;
    padding-left: 2px;
  }
  .image {
    left: -53%;
    top: -372px;
    bottom: 17%;
  }
  .hub-para {
    padding-right: 0px;
  }
  .hub-button {
    overflow: visible;
    opacity: 0;
  }
  .hub-button.form-button {
    margin-left: 269px;
  }
  .hub-button.form-button.mobile {
    margin-left: 296px;
    opacity: 1;
  }
  .form-input {
    max-width: 100%;
  }
  .column-2 {
    padding-left: 33px;
  }
  .paragraph-2 {
    padding-right: 52px;
    padding-left: 52px;
  }
  .image-43 {
    margin-right: 0px;
  }
  .heading-4 {
    line-height: 33px;
  }
  .column-8 {
    margin-top: 0px;
  }
  .div-block-125.bezo-faq {
    margin-left: -45px;
    padding-top: 27px;
  }
  .property-card {
    margin: 13px 67px;
  }
  .d-nav-link.text-center {
    display: inline-block;
    padding-right: 23px;
    line-height: 40px;
  }
  .partner-images {
    width: 150px;
    max-width: 68%;
  }
  .other-screens {
    display: block;
  }
  .d-section {
    padding-right: 10px;
    padding-left: 44px;
  }
  .d-section.alt {
    padding-right: 10px;
    padding-left: 44px;
  }
  .d-section.d-contain {
    padding-top: 8px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .image-section {
    display: block;
  }
  .ft-col {
    padding-right: 23px;
    padding-left: 23px;
  }
  .display-2 {
    margin-top: 44px;
    text-align: center;
  }
  .feature-item {
    display: block;
    padding-right: 103px;
  }
  .text-block-5 {
    margin-top: 20px;
  }
  .image-48 {
    display: block;
    width: 350px;
    margin-top: 17px;
    margin-right: auto;
  }
  .image-48.main-image {
    width: 311px;
    margin-left: auto;
  }
  .image-49 {
    display: block;
    margin-top: 33px;
    margin-right: auto;
    margin-left: 0px;
  }
  .cta-section {
    padding-right: 60px;
    padding-left: 60px;
  }
  .cta-section.ct-sec-left {
    padding-right: 60px;
    padding-left: 60px;
  }
  .text-center.blog-promo {
    padding-right: 66px;
    padding-left: 66px;
  }
  .cta-1 {
    display: block;
  }
  .pre-footer {
    display: none;
  }
  .pre-footer-items {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .column-13 {
    padding-left: 44px;
  }
  .column-14 {
    padding-right: 0px;
  }
  .column-15 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 479px) {
  .header-icon {
    margin-right: 4px;
    opacity: 0;
  }
  .page-header {
    margin-right: auto;
    margin-left: auto;
  }
  .page-header.bezoheader {
    margin-right: 14px;
    margin-left: 14px;
  }
  .heading-3 {
    padding-right: 18px;
    padding-left: 18px;
    font-size: 28px;
  }
  .heading-3.subheading.subheading-light.subhead-center {
    padding-right: 0px;
  }
  .heading-3.subheading.subheading-light.dark-text {
    margin-top: 37px;
  }
  .heading-3.display-1 {
    padding-right: 27px;
    font-size: 25px;
    line-height: 33px;
  }
  .heading-3.display-1.display-2-centered {
    padding-right: 20px;
    padding-left: 20px;
  }
  .paragraph {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
  }
  .paragraph.header-yellow-text {
    font-size: 31px;
    font-weight: 900;
  }
  .paragraph.bezopara {
    padding-right: 41px;
    padding-left: 41px;
  }
  .paragraph.bezopara.bezopara-left {
    padding-right: 0px;
  }
  .paragraph.bezopara.bezopara-left.dark-text {
    padding-right: 0px;
  }
  .paragraph.bezopara.bezopara-left.extra-padding {
    padding-right: 23px;
  }
  .image {
    left: -309%;
    display: inline-block;
  }
  .hub-para {
    margin-top: 25px;
    margin-bottom: 110px;
    text-align: center;
  }
  .hub-button.form-button.mobile {
    margin-left: 191px;
  }
  .subheading {
    margin-bottom: 18px;
    text-align: center;
  }
  .heading.mobi {
    padding-right: 0px;
    font-size: 23px;
    line-height: 31px;
    text-align: center;
  }
  .column-2 {
    position: absolute;
    padding-left: 20px;
  }
  .columns-3 {
    display: block;
  }
  .paragraph-2 {
    padding-right: 29px;
    padding-left: 29px;
    font-size: 16px;
  }
  .paragraph-2.featire-section {
    padding-right: 0px;
    white-space: normal;
  }
  .feature-section {
    display: block;
  }
  .section-2.savetogether.sublayer {
    margin-bottom: 2405px;
    padding-top: 14px;
  }
  .section-2.savetogether.white-bg-faq {
    padding-top: 3px;
  }
  .section-2.savetogether.white-bg-faq.susu {
    padding-top: 27px;
    padding-bottom: 57px;
  }
  .image-43 {
    padding-top: 30px;
  }
  .column-5.fancy {
    padding: 33px;
  }
  .column-5.fancy.offset {
    margin-top: 10px;
  }
  .subheading-2 {
    padding-top: 39px;
  }
  .faq02-comment.bezo-faq {
    padding-right: 0px;
  }
  .faq02_h6.noselect {
    line-height: 25px;
  }
  .div-block-126 {
    min-width: 100%;
  }
  .div-block-125.bezo-faq {
    margin-left: 0px;
    padding-top: 0px;
  }
  .faq02_paragraph {
    margin-left: 15px;
    padding-right: 17px;
  }
  .faq02_block {
    min-width: auto;
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .faq02_icon {
    margin-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .column-9 {
    padding-top: 30px;
    padding-left: 0px;
  }
  .container-2 {
    top: 357px;
  }
  .image-45 {
    display: block;
    padding-top: 11px;
    text-align: center;
  }
  .column-10 {
    text-align: center;
  }
  .f07_wrap_right {
    padding-right: 0px;
    text-align: center;
  }
  .f07_wrap_right.coopp {
    margin-bottom: 12px;
    padding-top: 9px;
    padding-right: 18px;
    text-align: center;
  }
  .columns {
    display: block;
  }
  .property-card {
    margin-right: 9px;
    margin-left: 9px;
  }
  .property-container {
    max-width: 100%;
    min-width: 100%;
  }
  .d-nav-link {
    padding-right: 5px;
  }
  .d-main-buttom:hover {
    background-color: #06818e;
  }
  .d-main-buttom.green {
    display: block;
    text-align: center;
  }
  .d-main-buttom.green:hover {
    background-color: #cf0100;
  }
  .d-main-buttom.green.center-button:hover {
    background-color: #111747;
    color: #fff;
  }
  .d-main-buttom.green.center-button.ct-sec-right {
    width: 250px;
  }
  .d-main-buttom.green.center-button.ct-sec-right:hover {
    background-color: #cf0100;
  }
  .d-main-buttom.blog-promo.outline:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #06818e;
    background-color: #fff;
  }
  .d-main-buttom.facebook-button {
    display: block;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
  }
  .partner-images {
    width: 126px;
  }
  .other-screens {
    padding-right: 12px;
    padding-left: 0px;
  }
  .d-section {
    padding-top: 7px;
    padding-left: 20px;
  }
  .d-section.alt {
    padding-left: 10px;
  }
  .d-section.d-contain {
    padding-right: 0px;
    padding-left: 0px;
  }
  .ft-col {
    padding-right: 20px;
    padding-left: 20px;
  }
  .display-2 {
    font-size: 20px;
    line-height: 22px;
  }
  .display-2.mobii {
    margin-left: 20px;
  }
  .feature-item {
    padding-right: 20px;
  }
  .text-block-5 {
    text-align: center;
  }
  .item-desc {
    text-align: center;
  }
  .div-block-128 {
    text-align: center;
  }
  .features-group {
    display: block;
  }
  .feature-group-item {
    padding-right: 7px;
    padding-left: 7px;
  }
  .extra-padding {
    padding-right: 10px;
  }
  .text-center.blog-promo {
    padding-right: 15px;
    padding-bottom: 24px;
    padding-left: 15px;
  }
  .cta-1 {
    margin-right: auto;
    margin-left: auto;
  }
  .column-13 {
    padding-left: 20px;
  }
  .column-16 {
    padding: 29px 0px;
  }
  .column-17 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-18 {
    padding-right: 10px;
    padding-left: 0px;
  }
  .column-19 {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
  }
  .feature-icon {
    display: block;
    width: 53px;
    margin-right: auto;
    margin-left: auto;
  }
  ._100vh {
    padding-right: 15px;
    padding-left: 15px;
  }
  .close {
    top: -4%;
    right: 3%;
  }
  .auth-form {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .small {
    padding-right: 23px;
    padding-left: 23px;
  }
  .small.left.link-block {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    text-align: center;
  }
  .small.terms {
    margin-right: auto;
    margin-left: auto;
  }
  .text-field {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
  }
  .submit-button {
    display: block;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .image-50 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-Black.otf') format('opentype'), url('../fonts/AvenirLTStd-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirltstd book';
  src: url('../fonts/AvenirLTStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-BlackOblique.otf') format('opentype'), url('../fonts/AvenirLTStd-HeavyOblique.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-BookOblique.otf') format('opentype'), url('../fonts/AvenirLTStd-Oblique.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-LightOblique.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-MediumOblique.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url('../fonts/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirltstd roman';
  src: url('../fonts/AvenirLTStd-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bwdarius';
  src: url('../fonts/BwDarius-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bwdarius';
  src: url('../fonts/BwDarius-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bwdarius';
  src: url('../fonts/BwDarius-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bwdarius';
  src: url('../fonts/BwDarius-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}